
*{
    font-family: 'Roboto', sans-serif;
}
.todo{
    padding:10px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    margin:5px;
}
#app{
    display: flex;
    align-content: centers;
    justify-content: center;
    text-align: center;
}
button{
    height:25px;
    margin:3px;
    border:1.5px solid gray;
    background:white;
    padding:3px;
}
input{
    padding:3px;
    margin:3px;
    border:1.5px solid gray;
}